<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/clndr.css">
</head>
<body>
  <div class="container">
    <h4>These are the tests. If you are contributing to clndr.js, please take the time to click through each test and ensure that it's working correctly. The clndr.&lt;name&gt; variables refer to variables you can use in the developer console to access each one of the instances on this page.</h4>

    <p>clndr.default ~ Default settings.</p>
    <div id="default" class="cal1"></div>

    <p>clndr.adjacent ~ test showAdjacentMonths and adjacentDaysChangeMonth.<br />
    edges of other months should be visible &amp; clicking them should switch the month.</p>
    <div id="adjacent" class="cal1"></div>

    <p>clndr.passInATemplate ~ Pass in a template.</p>
    <div id="pass-in-a-template" class="cal2"></div>

    <p>clndr.passInEvents ~ Pass in events.</p>
    <div id="pass-in-events" class="cal1"></div>

    <p>clndr.callbacks ~ Test the clickEvent callbacks. Logs in the console.</p>
    <div id="callbacks" class="cal1"></div>

    <p>clndr.multiday ~ Show multi-day events (12th - 17th, 24th - 27th). Logs in the console.</p>
    <div id="multiday" class="cal1"></div>

    <p>clndr.multidayMixed ~ Show multi-day events (12th - 17th, 24th - 27th), plus a single day event (19th). Logs in the console.</p>
    <div id="multiday-mixed" class="cal1"></div>

    <p>clndr.multidayMixedPerformance ~ Show multi-day events (12th - 17th, 24th - 27th), plus 10 single-day events every day this month. This tests a performance optimization in clndr's event parsing. Rendered in <span id="multiday-mixed-performance-val"></span> seconds. Logs in the console.</p>
    <div id="multiday-mixed-performance" class="cal1"></div>

    <p>clndr.multidayLong ~ Show multi-day events (12th - 17th, 24th - 27th). Logs in the console.</p>
    <div id="multiday-long" class="cal1"></div>

    <p>clndr.constraints ~ Test start &amp; end constraints. (4th of this month to the 12th of next month). Logs in the console.</p>
    <div id="constraints" class="cal1"></div>

    <p>clndr.startConstraint ~ Test start constraint. (4th of this month). Logs in the console.</p>
    <div id="start-constraint" class="cal1"></div>

    <p>clndr.endConstraint ~ Test end constraint. (12th of next month). Logs in the console.</p>
    <div id="end-constraint" class="cal1"></div>

    <p>clndr.api ~ Test calling the API (next, previous, setMonth, setYear) with/without { withCallbacks: true } as an argument. onMonthChange and onYearChange will log only if withCallbacks is true.</p>
    <div id="api" class="cal1"></div>

    <p>clndr.sixRows ~ Test the forceSixRows option, which should make a six-row calendar regardless of the length of each month.</p>
    <div id="six-rows" class="cal1"></div>

    <p>clndr.customClasses ~ Test using options.classes to define custom classes. Should appear normally with events &amp; log to the console.</p>
    <div id="custom-classes" class="cal1"></div>

    <hr />

    <p>clndr.threeMonths ~ Test length.months option, which should display three months. Interval changes log to the console.</p>
    <div id="three-months" class="cal2"></div>

    <p>clndr.threeMonthsWithEvents ~ Test length.months option, which should display three months. Contains multi-day events.</p>
    <div id="three-months-with-events" class="cal2"></div>

    <p>clndr.threeMonthsWithConstraints ~ Test length.months option, which should display three months. Contains multi-day events and constraints.</p>
    <div id="three-months-with-constraints" class="cal2"></div>

    <p>clndr.oneWeek ~ Test length.days option. Should display two weeks, and next &amp; previous buttons should advance in one week intervals.</p>
    <div id="one-week" class="cal2"></div>

    <p>clndr.oneWeekWithConstraints ~ Two week view that advances in one week intervals. Contains multi-day events and constraints.</p>
    <div id="one-week-with-constraints" class="cal2"></div>
  </div>

  <script type="text/template" id="clndr-template">
    <div class="clndr-controls">
      <div class="clndr-previous-button">&lsaquo;</div>
      <div class="month"><%= month %></div>
      <div class="clndr-next-button">&rsaquo;</div>
    </div>
    <div class="clndr-grid">
      <div class="days-of-the-week">
        <% _.each(daysOfTheWeek, function(day) { %>
          <div class="header-day"><%= day %></div>
        <% }); %>
        <div class="days">
          <% _.each(days, function(day) { %>
            <div class="<%= day.classes %>"><%= day.day %></div>
          <% }); %>
        </div>
      </div>
    </div>
    <div class="clndr-today-button">Today</div>
  </script>


  <script type="text/template" id="clndr-multimonth-template">
    <div class="multi-month-controls">
      <div class="clndr-previous-year-button quarter-button">&laquo;</div><!--
  --><div class="clndr-previous-button quarter-button">&lsaquo;</div><!--
  --><div class="clndr-next-button quarter-button right-align">&rsaquo;</div><!--
  --><div class="clndr-next-year-button quarter-button right-align">&raquo;</div>
    </div>
    <% _.each(months, function(oneMonth){ %>
      <div class="clndr-controls">
        <div class="month"><%= oneMonth.month.format('MMMM YYYY') %></div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
          <div class="days">
            <% _.each(oneMonth.days, function(day) { %>
              <div class="<%= day.classes %>"><%= day.day %></div>
            <% }); %>
          </div>
        </div>
      </div>
      <div class="clndr-today-button">Today</div>
    <% }); %>
  </script>

  <!-- not done -->
  <script type="text/template" id="clndr-oneweek-template">
    <div class="clndr-controls">
      <div class="clndr-previous-button">&lsaquo;</div>
      <div class="month"><%= intervalStart.format('MM/DD') %> - <%= intervalEnd.format('MM/DD') %></div>
      <div class="clndr-next-button">&rsaquo;</div>
    </div>
    <div class="clndr-grid">
      <div class="days-of-the-week">
        <% _.each(daysOfTheWeek, function(day) { %>
          <div class="header-day"><%= day %></div>
        <% }); %>
        <div class="days">
          <% _.each(days, function(day) { %>
            <div class="<%= day.classes %>"><%= day.day %></div>
          <% }); %>
        </div>
      </div>
    </div>
  </script>


  <script src="json2.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src= "moment-2.8.3.js"></script>

  <script src="../src/clndr.js"></script>
  <script src="test.js"></script>

  <!-- Enable live-reloading in the browser without an extension -->
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>